@use "./variables" as *;

.overlay {
  background: url(./image/background1.png) no-repeat fixed center;
  background-size: contain;
  background-origin: border-box;
  width: auto;
  height: 800px;
  background-color: $secondary-color;
  display: none;

  &__button {
    width: auto;
    padding: 14px;
    font-family: $secondary-font;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 0;
    background-color: $secondary-color;
    margin-top: 400px;
    margin-left: 380px;
    color: black;
    border: solid 3px black;
    font-size: 20px;
  }

  &__button:hover {
    color: $primary-color;
    cursor: pointer;
  }

  &__button:active {
    transform: translateY(4px);
  }
}
