@use "./variables" as *;

.start {
  &__button {
    width: auto;
    padding: 14px;
    font-family: $secondary-font;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 0;
    background-color: $secondary-color;
    margin-top: 340px;
    margin-left: 680px;
    color: black;
    border: solid 3px black;
    font-size: 30px;
  }

  &__button:hover {
    color: $primary-color;
    cursor: pointer;
  }

  &__button:active {
    transform: translateY(4px);
  }
}
