.overlay {
  background: url(./image/background1.png) no-repeat;
  background-size: contain;
  background-position: center;
  background-origin: border-box;
  width: 100%;
  height: 700px;
  background-color: #fcde67;
  position: fixed;
}
.overlay__button {
  width: 25%;
  padding: 7px;
  font-family: "Press Start 2P", "sans-serif";
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0;
  background-color: #fcde67;
  margin-top: 340px;
  margin-left: 110px;
  margin-right: 120px;
  color: black;
  border: solid 3px black;
  font-size: 10px;
  text-decoration: none;
}
.overlay__button:hover {
  color: white;
  cursor: pointer;
}
.overlay__button:active {
  transform: translateY(4px);
}

.heading {
  font-family: "Press Start 2P", "sans-serif";
  text-align: center;
  padding: 10px;
  font-size: 20px;
  color: white;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container__hangman {
  width: 50%;
  margin-top: 10px;
}
.container__lives {
  margin-top: 6px;
  margin-left: 70px;
}
.container__lives img {
  width: 12%;
}
.container .display__letters {
  text-align: center;
  font-size: 20px;
  font-family: "Press Start 2P", "sans-serif";
  color: white;
  margin: 20px;
  display: flex;
}
.container .gaming-buttons__new-game, .container .gaming-buttons__give-up {
  width: 160px;
  padding: 14px;
  font-family: "Press Start 2P", "sans-serif";
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0;
  background-color: #5bccf6;
  color: black;
  border: solid 3px black;
  font-size: 12px;
  margin: 5px;
}
.container .gaming-buttons__new-game:hover {
  cursor: pointer;
  color: white;
}
.container .gaming-buttons__give-up:hover {
  cursor: pointer;
  color: white;
}
.container .gaming-buttons__new-game:active {
  transform: translateY(4px);
}
.container .gaming-buttons__give-up:active {
  transform: translateY(4px);
}

.alphabets {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 5px;
  width: 100%;
  margin: 10px;
}
.alphabets button {
  text-align: center;
  font-size: 12px;
  font-family: "Press Start 2P", "sans-serif";
  width: 60%;
  padding: 8px;
  background-color: #fcde67;
  color: black;
  border: solid 3px #f0a04b;
  border-radius: 10px;
}
.alphabets button:hover {
  cursor: pointer;
  background-color: #5bccf6;
}
.alphabets button:active {
  transform: translateY(4px);
}