@use "./variables" as *;
@use "./components" as *;

@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Special+Elite&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./image/background2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: peru;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .overlay-container {
    .overlay {
      margin: 0;
  
      &__button {
        width: 40%;
        padding: 30px;
        font-size: 40px;
        text-decoration: none;
        position: fixed;
        top: 380px;
        left: 350px;
      }
    }
  }
  

  .heading {
    font-size: 30px;
  }
  .container {
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-areas:
      "hangman text"
      "lives text";

    &__hangman {
      grid-area: hangman;
      width: 50%;
      margin-left: 30px;
    }

    &__lives {
      grid-area: lives;
      margin: 10px;
      margin-left: 30px;
    }

    .display {
      &__letters {
        grid-area: text;
        font-size: 36px;
      }
    }
    .gaming-buttons {
      display: flex;
      flex-direction: row;
      margin-right: 50px;

      &__new-game,
      &__give-up {
        width: 180px;
        padding: 12px;
        font-family: $secondary-font;
        border-radius: 10px;
        box-shadow: 5px 5px 5px 0;
        background-color: $game-button-color;
        color: black;
        border: solid 3px black;
        font-size: 14px;
      }
      &__new-game:hover {
        cursor: pointer;
        color: white;
      }

      &__give-up:hover {
        cursor: pointer;
        color: white;
      }

      &__new-game:active {
        transform: translateY(4px);
      }

      &__give-up:active {
        transform: translateY(4px);
      }
    }
  }

  .alphabets {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 43px;
    margin-right: 43px;
    width: 90%;

    button {
      font-size: 14px;
      font-family: $secondary-font;
      width: 80%;
      padding: 6px;
      background-color: $secondary-color;
      color: black;
      border: solid 5px $primary-color;
      border-radius: 10px;
      text-align: center;
    }

    button:hover {
      cursor: pointer;
      background-color: $game-button-color;
    }

    button:active {
      transform: translateY(4px);
    }
  }
}
