@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Special+Elite&display=swap");
.overlay {
  background: url(./image/background1.png) no-repeat fixed center;
  background-size: contain;
  background-origin: border-box;
  width: auto;
  height: 800px;
  background-color: #fcde67;
  display: none;
}
.overlay__button {
  width: auto;
  padding: 14px;
  font-family: "Press Start 2P", "sans-serif";
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0;
  background-color: #fcde67;
  margin-top: 400px;
  margin-left: 380px;
  color: black;
  border: solid 3px black;
  font-size: 20px;
}
.overlay__button:hover {
  color: #f0a04b;
  cursor: pointer;
}
.overlay__button:active {
  transform: translateY(4px);
}

.heading {
  font-family: "Press Start 2P", "sans-serif";
  text-align: center;
  padding: 20px;
  font-size: 20px;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 130px;
}
.container__hangman {
  width: 60%;
  margin-top: 50px;
}
.container__lives {
  margin: 10px;
  display: flex;
}
.container__lives img {
  width: 10%;
  margin: 5px;
}
.container .display__letters {
  text-align: center;
  font-size: 18px;
  font-family: "Press Start 2P", "sans-serif";
  color: black;
  margin: 20px;
}
.container .gaming-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .gaming-buttons__new-game, .container .gaming-buttons__give-up {
  width: 200px;
  padding: 14px;
  font-family: "Press Start 2P", "sans-serif";
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0;
  background-color: #5bccf6;
  color: black;
  border: solid 3px black;
  font-size: 14px;
  margin: 20px;
}
.container .gaming-buttons__new-game:hover {
  cursor: pointer;
  color: white;
}
.container .gaming-buttons__give-up:hover {
  cursor: pointer;
  color: white;
}
.container .gaming-buttons__new-game:active {
  transform: translateY(4px);
}
.container .gaming-buttons__give-up:active {
  transform: translateY(4px);
}

.alphabets {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  width: 100%;
  margin-left: 90px;
}
.alphabets button {
  text-align: center;
  font-size: 14px;
  font-family: "Press Start 2P", "sans-serif";
  width: 70%;
  padding: 8px;
  background-color: #fcde67;
  color: black;
  border: solid 3px #f0a04b;
  border-radius: 10px;
  margin-bottom: 10px;
}
.alphabets button:hover {
  cursor: pointer;
  background-color: #5bccf6;
}
.alphabets button:active {
  transform: translateY(4px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./image/background2.jpg);
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .container {
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-areas: "image text-input" "lives buttons" "lives buttons";
  }
  .container__hangman {
    grid-area: image;
    width: 90%;
    margin-left: 30px;
  }
  .container__lives {
    grid-area: lives;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    align-self: center;
  }
  .container__lives img {
    width: 15%;
  }
  .container .display__letters {
    grid-area: text-input;
    font-size: 36px;
    font-family: "Press Start 2P", "sans-serif";
    color: black;
    margin-top: 100px;
    margin-bottom: 100px;
    margin: 20px;
  }
  .container .gaming-buttons__new-game, .container .gaming-buttons__give-up {
    grid-area: buttons;
    width: 200px;
    padding: 14px;
    font-family: "Press Start 2P", "sans-serif";
    border-radius: 10px;
    box-shadow: 5px 5px 5px 0;
    background-color: #5bccf6;
    color: black;
    border: solid 3px black;
    font-size: 16px;
  }
  .container .gaming-buttons__new-game:hover {
    cursor: pointer;
    color: white;
  }
  .container .gaming-buttons__give-up:hover {
    cursor: pointer;
    color: white;
  }
  .container .gaming-buttons__new-game:active {
    transform: translateY(4px);
  }
  .container .gaming-buttons__give-up:active {
    transform: translateY(4px);
  }
  .alphabets {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 50%;
    grid-gap: 15px;
  }
  .alphabets button {
    font-size: 16px;
    font-family: "Press Start 2P", "sans-serif";
    width: auto;
    padding: 10px;
    background-color: #fcde67;
    color: black;
    border: solid 5px #f0a04b;
    border-radius: 10px;
  }
  .alphabets button:hover {
    cursor: pointer;
    background-color: #5bccf6;
  }
  .alphabets button:active {
    transform: translateY(4px);
  }
}/*# sourceMappingURL=main.css.map */